/* <!--    border: 2px solid gray;
flex-direction: column-reverse;
justify-content: flex-end;
justify-content: space-between;
align-items: stretch;
align-items: flex-start;
align-items: flex-end;
align-items: center;
align-items: baseline;
flex-wrap: nowrap;
flex-wrap: wrap-reverse;
--> */
.flex-container{
    display: flex;
    width:300px;
    height:250px;
    background-color: lightgray;
    flex-wrap:wrap;
}
.flex-item{
background-color: cornflowerblue;
width: 100px;
margin: 10px;
border:1px solid black;
}