.container {
    width: 100%;
    max-width: 100px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid gray;
    direction :ltr
}
.item {
    background-color: #f0f0f0;
    border: 1px solid #999;
    padding: 20px;
    margin-bottom: 20px;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box {
    width: 100px;
    height: 100px;
    background-color: red;
    color: white;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;
    border-bottom: 5px dotted black;
    border-radius: 20px;
    margin: auto;
}
.box:hover {
    animation-name: colorChange;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}
@keyframes colorChange {
    0% {
        background-color: blue;
    }
    20% {
        background-color: orange;
    }
    40% {
        background-color: black;
    }
    60% {
        background-color: white;
    }
    80% {
        background-color: yellow;
    }
    100% {
        background-color: green;
    }
}
